# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class


# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
build_verify/
dist_verify/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/
site/

.vscode/

#临时测试的要排除
fasttest.py
test1.py
test2.py
test3.py
test4.py
test5.py
test6.py
# 项目自定义排除，主要是资源文件
dist-pyinstaller/
data/private/
data/public/
data/temp/
data
settings.ini
log



# 数据库临时文件
*.db
*.db-wal
*.db-shm


# C++的文件
3rdparty/
.vs/
out/
CMakePresets.json
CMakeUserPresets.json
*.dll
# --- 编译输出 ---
out/
build/
bin/
lib/

# --- CMake 产生的临时文件 ---
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile
install_manifest.txt
compile_commands.json

# --- Visual Studio 临时文件 ---
.vs/
*.sln
*.vcxproj
*.filters
*.user
*.db
*.opendb

# --- Qt 自动生成文件 (如果你用 Qt) ---
**/GeneratedFiles/
**/ui_*.h
**/moc_*.cpp
**/moc_*.h
**/qrc_*.cpp

#

.continue/

report.xml

temp/