# Python 3.14.x is required
#要开发的话下面三个版本和QtC++的版本要一致
pyside6==6.10.1
shiboken6==6.10.1
shiboken6-generator==6.10.1

numpy
matplotlib
bs4
requests
pyinstaller
pydantic
fastapi
anyio
psutil
networkx
uvicorn[standard]
googletrans
PySide6-QtAds==4.5.0#这个很重要，这个绑定要求shiboken6==6.10.1
pytest
wordcloud
scipy
PySideSix-Frameless-Window

# Documentation
mkdocs
mkdocs-material
mkdocstrings[python]
